{% extends "layout/basic.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}

{% for message in messages %}
    <h3>{{ message|safe }}</h3>
{% endfor %}

<a href="{% url 'password_change'  %}" style="margin-right: 10px">Сменить пароль</a>
<h2>Ваши объявления:</h2>


{% for bb in bbs %}

<div class="b" style="margin-top:50px;">
    <h4>{{bb.title}}</h4>
    <p>{{bb.content}}</p>
    <p>{{bb.published|date:'d.m.Y H:i:s'}}</p>

      {% for image in images %}
        {%if bb.pk == image.bb.pk%}
    <img src="../media/{{image.img}}"  width="200" height="200" alt="{{ bb.title }}">
        {% endif %}
    {% endfor %}

    <p><a href="{% url 'editBd' bb.pk %}">Редактировать</a></p>
    <p><a href="{% url 'deleteBd' bb.pk %}">Удалить</a></p>
</div>

{% endfor %}

{% endblock %}